@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500&family=Noto+Kufi+Arabic:wght@200;300;400;500;600;700&family=Noto+Sans+Lao+Looped&family=Noto+Sans+Mono:wght@200;300;400;500;600&family=Roboto+Condensed&display=swap');
*
{
font-family: 'Cairo',system-ui, sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
header
{
    background-color: black;
    width: 100%;
    display: flex;
    padding: 10px 150px;
    justify-content: space-between;
}
.logo
{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
    font-weight: bold;
    transition: 0.5s ease;
}
.logo:hover
{
    color: red;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li a 
{
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: 1.4em;
    font-weight: 500;
    transition: 0.8s ease;
}
header ul li a:hover
{
    color: red;
}
.data
{
    justify-content: space-between;
}
.data h2
{
    font-size: 1.4em;
    font-weight: 600;
}
.data h2 span
{
    color: red;
}
.info
{
    text-align: center;
    align-items: center;
}
.data a
{
    text-decoration: none;
    color: red;
    transition: 0.7s ease;
}
.data a:hover
{
    color: blue;
    font-size: 1.4em;
    font-weight: 600;
}